/* Global CSS Variables: https://www.w3schools.com/css/css3_variables.asp */
/* Reference these in your CSS to get the same color as the mockups */
:root {
  --actionBackgroundColor: #f76b8a;
  --actionTextColor: white;
  --activeColor: #66bfbf;
  --standardBackgroundColor: #fcfefe;
  --alternativeBackgroundColor: #eaf6f6;
  --standardTextColor: black;
  --lightColor: lightgray;
  --moderateColor: darkgray;
}

body {
  background-color: var(--alternativeBackgroundColor);
}

input:focus,
select:focus,
textarea:focus,
button:focus  {
  outline-color: var(--activeColor);
}

select {
  border-color: var(--moderateColor);
}

input[type=text] {
  border-color: var(--lightColor);
}

input[type=submit]:hover,
input[type=button]:hover,
button:hover {
  transform: scale(1.1);
}

/* Global Form */

input[type=radio] {
  cursor: pointer;
  margin-right: 5px;
}

button {
  cursor: pointer;
}

.material-icons {
  cursor: pointer;
}

.form-area {
  background-color: var(--standardBackgroundColor);
  margin: 0px 15% 10px 15%;
  padding: 15px;
  border-radius: 5px;
}

.footer {
  margin: 0px 15%;
}

/* MenuBar */

#Menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--standardBackgroundColor);
}

.menu-wrapper {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.menu-choice {
  font-size: 15px;
  font-weight: 500;
  border: none;
  background-color: var(--standardBackgroundColor);
}

.menu-profile {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  padding: 15px;
}

/* Main Page */
#MainPage {

}

/* Log Day */

.calendar {
  font-size: 25px;
  font-weight: 700;
  margin: 30px 15%;
  display: flex;
  justify-content: space-between;
}

.change-date {
  border: none;
  background-color: inherit;
  font-size: 25px;
  font-weight: 700;
}

.log-container label {
  font-size: 15px;
  font-weight: 500;
  padding-bottom: 5px;
  display: inline-block;
}

.log-container input {
  height: 20px;
  border-radius: 5px;
}

.submitbtn {
  color: var(--actionTextColor);
  border: none;
  border-radius: 5px;
  background-color: var(--actionBackgroundColor);
  padding: 5px 10px;
}

/* Edit Questions */

.edit-header {
  display: flex;
  justify-content: space-between;
  margin: 30px 15%;
  font-size: 25px;
  font-weight: 700;
}

.edit-header .material-icons {
  font-size: 25px;
  font-weight: 500;
  padding-top: 5px;
}

.question {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 5px;
}

.question-type {
  padding: 3px;
  height: 30px;
  border-radius: 5px;
}

.edit-form .material-icons {
  float: right;
}

.multiple-choice {
  margin-top: 10px;
}

.choice-input {
  height: 20px;
  border: none;
  border-bottom: 2px solid var(--lightColor);
}

.savebtn {
  color: var(--actionTextColor);
  border: none;
  border-radius: 5px;
  background-color: var(--actionBackgroundColor);
  padding: 5px 10px;
}

@media all and (max-width: 600px) {

  /* Log Day */

}


